<div class="login-container">

  <header class="login__header">
    <div class="login__header__left">
      <img alt="logo" src="assets/logo.jpg">
      <h2>BuzzTalk helps you connect and share with the people in your life.</h2>
    </div>
    <div class="login__header__right">
      <mat-card class="login__header__right__card">
        <mat-card-content class="login__header__right__card__content">
          <form #form="ngForm" class="login-form">
            <input name="email" placeholder="Email address" name="username" [(ngModel)]="username" required type="text">
            <input name="password" [(ngModel)]="password" placeholder="Password" required type="password">
            <button (click)=checkLogin() class="btn btn-success">
              Login
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </header>
</div>